In [1]:
for i in[2, 4, 5]:
    print(i)

2
4
5

In [2]:
a = 2
a + 4

6

In [3]:
import pandas as pd

In [4]:
staty = pd.read_json("staty.json")
staty.set_index("name", inplace=True)
staty

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Afghanistan,AF,AFG,Kabul,Asia,Southern Asia,27657145,652230.0,27.8
Åland Islands,AX,ALA,Mariehamn,Europe,Northern Europe,28875,1580.0,NaN
Albania,AL,ALB,Tirana,Europe,Southern Europe,2886026,28748.0,34.5
Algeria,DZ,DZA,Algiers,Africa,Northern Africa,40400000,2381741.0,35.3
American Samoa,AS,ASM,Pago Pago,Oceania,Polynesia,57100,199.0,NaN
...,...,...,...,...,...,...,...,...
Wallis and Futuna,WF,WLF,Mata-Utu,Oceania,Polynesia,11750,142.0,NaN
Western Sahara,EH,ESH,El Aaiún,Africa,Northern Africa,510713,266000.0,NaN
Yemen,YE,YEM,Sana'a,Asia,Western Asia,27478000,527968.0,37.7
Zambia,ZM,ZMB,Lusaka,Africa,Eastern Africa,15933883,752612.0,54.6
Zimbabwe,ZW,ZWE,Harare,Africa,Eastern Africa,14240168,390757.0,NaN

In [5]:
staty['area']

name
Afghanistan           652230.0
Åland Islands           1580.0
Albania                28748.0
Algeria              2381741.0
American Samoa           199.0
                       ...
Wallis and Futuna        142.0
Western Sahara        266000.0
Yemen                 527968.0
Zambia                752612.0
Zimbabwe              390757.0
Name: area, Length: 250, dtype: float64

In [6]:
staty['area'].sum()

150290562.82

In [7]:
staty.area

name
Afghanistan           652230.0
Åland Islands           1580.0
Albania                28748.0
Algeria              2381741.0
American Samoa           199.0
                       ...
Wallis and Futuna        142.0
Western Sahara        266000.0
Yemen                 527968.0
Zambia                752612.0
Zimbabwe              390757.0
Name: area, Length: 250, dtype: float64

In [8]:
staty['population']/1_000_000

name
Afghanistan          27.657145
Åland Islands         0.028875
Albania               2.886026
Algeria              40.400000
American Samoa        0.057100
                       ...
Wallis and Futuna     0.011750
Western Sahara        0.510713
Yemen                27.478000
Zambia               15.933883
Zimbabwe             14.240168
Name: population, Length: 250, dtype: float64

In [9]:
staty[staty['population'] > 100_000_000]

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
Bangladesh,BD,BGD,Dhaka,Asia,Southern Asia,161006790,147570.0,32.1
Brazil,BR,BRA,Brasília,Americas,South America,206135893,8515767.0,54.7
China,CN,CHN,Beijing,Asia,Eastern Asia,1377422166,9640011.0,47.0
India,IN,IND,New Delhi,Asia,Southern Asia,1295210000,3287590.0,33.4
Indonesia,ID,IDN,Jakarta,Asia,South-Eastern Asia,258705000,1904569.0,34.0
Japan,JP,JPN,Tokyo,Asia,Eastern Asia,126960000,377930.0,38.1
Mexico,MX,MEX,Mexico City,Americas,Central America,122273473,1964375.0,47.0
Nigeria,NG,NGA,Abuja,Africa,Western Africa,186988000,923768.0,48.8
Pakistan,PK,PAK,Islamabad,Asia,Southern Asia,194125062,881912.0,30.0
Philippines,PH,PHL,Manila,Asia,South-Eastern Asia,103279800,342353.0,43.0
Russian Federation,RU,RUS,Moscow,Europe,Eastern Europe,146599183,17124442.0,40.1
United States of America,US,USA,"Washington, D.C.",Americas,Northern America,323947000,9629091.0,48.0

In [10]:
2+3*2

8

In [11]:
staty[(staty['population']>20_000_000)&(staty['region']== 'Europe')]

,alpha2Code,alpha3Code,capital,region,subregion,population,area,gini
name,,,,,,,,
France,FR,FRA,Paris,Europe,Western Europe,66710000,640679.0,32.7
Germany,DE,DEU,Berlin,Europe,Western Europe,81770900,357114.0,28.3
Italy,IT,ITA,Rome,Europe,Southern Europe,60665551,301336.0,36.0
Poland,PL,POL,Warsaw,Europe,Eastern Europe,38437239,312679.0,34.1
Russian Federation,RU,RUS,Moscow,Europe,Eastern Europe,146599183,17124442.0,40.1
Spain,ES,ESP,Madrid,Europe,Southern Europe,46438422,505992.0,34.7
Ukraine,UA,UKR,Kiev,Europe,Eastern Europe,42692393,603700.0,26.4
United Kingdom of Great Britain and Northern Ireland,GB,GBR,London,Europe,Northern Europe,65110000,242900.0,34.0